@import "_reset";

$lightergray: #f9f9f9;
$lightgray: #ccc;
$gray: #666666;
$darkgray: #333333;
$blue: #4ea6ca;
$transparentblue: rgba(78, 166, 202, 0.8);
$red: #CA3C3C;
$green: #1CB841;
$orange: #EE8400;
$lightBorderUnderDiv: 3px $lightgray solid;
$darkBorderUnderDiv: 3px $gray solid;
$btnSmallFontSize: 80%;
$btnLargeFontSize: 130%;
$btnFlatFontSize: 110%;
$size: 1rem;
$h1size: 1.7rem;
$h2size: 1.5rem;
$h3size: 1.3rem;
$h4size: 1.1rem;
$h5size: 1.0rem;
$h6size: 0.9rem;
$typo: 'Helvetica', 'Arial', sans-serif;
$navbarmargin: 4%;
$navbarheight: 30px;
$responsivewidthscreen: 1280px;
$responsivewidthtablette: 801px;

$default_totalwidth: 100%;
$default_colNb: 8;
$default_marginW: 1%;
$default_colNbsmall: 6;
$default_colNbMedium: 12;
$default_colNbLarge: 18;

//header
header {
  margin-bottom: 5px;
  color: white;
  background-color: $blue;
  font-variant: small-caps;
  font-size: 1em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;

  div {
    width: 100%;
    text-align: center;
  }
  img {
    height: 50px;
    width: auto;
  }

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: none;
      color: $darkgray;
    }
  }
  nav {
    a {
      margin-right: 20px;
    }
  }
}

.jumbotron {
  background-color: $lightgray;
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
  padding: 2%;

  text-align: center;
  border-bottom: $darkBorderUnderDiv;
  p {
    text-align: center;
    padding-top: 1em;
    padding-left: 3%;
    padding-right: 3%;
  }
}

//pagination

.pagination {
  text-align: center;
  margin-top: 0; //margin-left: auto;
  margin-bottom: 1rem;
  li {
    margin: 0 0.2rem 0 0;
    display: inline;
  }
}

/*
GENERAL
*/

html {
  height: 100%;
}

body {
  font-family: $typo;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
  max-width: 1280px;
  margin: auto;
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
}

form {
  display: inline-block;
}

.cadreForm {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border: 2px solid $blue;
  box-sizing: border-box;
  h1, h2, h3, h4, h5 {
    color: white;
    background-color: $blue;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}

#taillerecherche {
  width: 1100px;
  margin: auto;
}

//input, textarea {
//  display: block;
//  width: 98.5%;
//  height: 2em;
//
//  @media screen and (min-width: $responsivewidthtablette) {
//    display: inline-block;
//    height: auto;
//    width: 99.3%;
//  }
//}
//
//select {
//  width: 99.5%;
//  height: 2em;
//}

#recherche {

  .ligne {
    input {
      text-align: center;
    }

    #label{
      display: inline-block;
      width: 105px;
    }
    label{
      padding:0 5px 0 5px;
    }
    #input_motscles {
      width: 690px;
    }
    .trait {
      display: inline;
      border-right: 2px solid black;
      padding-right: 10px;
      margin-right: 10px;
    }
    .inputEuroM2NbPiece {
      width: 60px;
    }

    select {
      width: 200px;
    }

    .radioButton {
      display: inline-block;
    }

  }

  button {
    width: 200px;
    margin: 0 0 0 100px;
  }

}

  #ligne1 {
    @media screen and (min-width: $responsivewidthtablette) {
      label {
        width: 21.9%;
      }
      input {
        width: 21.8%;
      }
    }
    @media screen and (min-width: $responsivewidthscreen) {
      label {
        width: 21.9%;
      }
      input {
        width: 24.1%;
      }
    }
  }

  #ligne2 {
    @media screen and (min-width: $responsivewidthtablette) {
      label {
        width: 22%;
      }
      input {
        width: 25.6%;
      }
    }
    @media screen and (min-width: $responsivewidthscreen) {
      label {
        width: 25%;
      }
      input {
        width: 30.5%;
      }
    }
  }

  #ligne3{
    input{
      width: 95.6%;
    }

    label{
      vertical-align: top;
    }
    textarea{
      width: 99%;
      min-height: 200px;
    }
  }

  #ligne4 {
    @media screen and (min-width: $responsivewidthtablette) {
      label {
        width: 20%;
      }
      input {
        width: 21.5%;
      }
    }
    @media screen and (min-width: $responsivewidthscreen) {
      label {
        width: 25%;
      }
      input {
        width: 23.9%;
      }
    }
  }

  .ligne5 {
    @media screen and (min-width: $responsivewidthtablette) {
      select {
        width: 49.7%;
      }
    }
    @media screen and (min-width: $responsivewidthscreen) {
      select {
        width: 49.8%;
      }
    }
  }

  #ligne6 {
    @media screen and (min-width: $responsivewidthtablette) {
      label {
        width: 24%;
      }
      input {
        width: 37.7%;
      }
    }
    @media screen and (min-width: $responsivewidthscreen) {
      label {
        width: 25%;
      }
      input {
        width: 40.2%;
      }
    }
  }

  #ligne7 {
    label {
      width: 10%;
    }
    input {
      display: inline-block;
      width: 35.3%;
    }
    @media screen and (min-width: $responsivewidthtablette) {
      label {
        width: 24%;
      }
      input {
        width: 44.2%;
      }
    }
    @media screen and (min-width: $responsivewidthscreen) {
      label {
        width: 25%;
      }
      input {
        width: 45.4%;
      }
    }
  }

  #ligne8 {
    label {
      width: 10%;
    }
    input {
      width: 98.4%;
    }
    input:last-of-type{
      display: inline-block;
      width: 3%;
    }
    @media screen and (min-width: $responsivewidthtablette) {
      label {
        width: 24%;
      }
      input:first-of-type {
        width: 62.9%;
      }
      input:last-of-type{
        width: 1.9%;
      }
    }
    @media screen and (min-width: $responsivewidthscreen) {
      label {
        width: 25%;
      }
      input:first-of-type {
        width: 70.1%;
      }
      input:last-of-type{
        width: 1.9%;
      }
    }
  }


/*
LES TITRES
*/

h1 {
  font-size: $h1size;
  &.sub {
    font-size: 0.8*$h1size;
  }
}

h2 {
  font-size: $h2size;
  &.sub {
    font-size: 0.8*$h2size;
  }
}

h3 {
  font-size: $h3size;
  &.sub {
    font-size: 0.8*$h3size;
  }
}

h4 {
  font-size: $h4size;
  &.sub {
    font-size: 0.8*$h4size;
  }
}

h5 {
  font-size: $h5size;
  &.sub {
    font-size: 0.8*$h5size;
  }
}

h6 {
  font-size: $h6size;
  &.sub {
    font-size: 0.8*$h6size;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;

  & > small {
    color: $darkgray;
    font-size: 0.8em;
    font-weight: lighter;
  }

  &.sub {
    color: $darkgray;
    font-weight: normal;
  }
}

/*
INLINE
*/

strong {
  font-weight: bold;
}

u {
  text-decoration: none;
  border-bottom: 1px red dotted;
}

em {
  font-style: italic;
}

/*
QUOTE & BLOCKQUOTE
*/

blockquote {
  background: $lightergray;
  font-family: cursive;
  border-left: 10px solid $lightgray;
  margin: 10px 10px 30px;
  padding: 10px;
  max-width: 80%;

  &:before {
    color: $lightgray;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  &:after {
    color: $lightgray;
    content: "\201D";
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.7em;
  }

  p {
    display: inline;
  }
}

code {
  border-left: 10px solid $gray;
  display: block;
  font-family: monospace;
  color: $lightergray;
  background-color: black;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 90%;
  font-size: 0.8rem;

  @media screen and (min-width: $responsivewidthtablette) {
    max-width: 800px;
    font-size: 1rem;
  }

  p {
    line-height: 0.2em;
  }
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 10px 10px 20px;
}

kbd {
  border-left: 10px solid $lightgray;
  display: block;
  font-family: monospace;
  background-color: $lightergray;
  margin: 10px 10px 20px;
  padding: 10px;
  max-width: 80%;

  p {
    line-height: 0.2em;
  }
}

/*
LES LISTES
*/

li {
  list-style-type: disc;
  margin-left: 2em;

}

.ulsquare li {
  list-style-type: square;
}

.ulnostyle li {
  list-style-type: none;
}

/*
Alignements et transformations
*/

.alleft {
  text-align: left;
}

.alright {
  text-align: right;
}

.alcenter {
  text-align: center;
}

.aljustified {
  text-align: justify;
}

.smallcaps {
  font-variant: small-caps;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/*
TABLES ET TABLEAUX
*/

table {
  width: 100%;
  margin: 1em auto 2em;
  text-align: center;
  display: table;
  max-width: 400px;

  th {
    font-variant: small-caps;
  }
}

table,
th,
td {
  padding: 0.5em 1em 0.5em 1em;
}

/*Tableau bordures*/

.tableborder,
.tableborder th,
.tableborder td {
  border: 1px solid $gray;
}

/*Tableau ligne alternees*/

.tablealterne tr:nth-child(even) {
  background-color: white;
  /*blanc*/
}

.tablealterne tr:nth-child(odd) {
  background-color: $lightgray;
  /*gris*/
}

.tablealterne th {
  background-color: $gray;
  color: white;
}

/*tableau avec survol*/

.tablehover tr:not(th) {
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
}

.tablehover tr:hover:not(th) {
  background-color: $gray;
  color: white;
}

a {
  color: $blue;

  &:visited {
  }

  &:hover {
    color: $darkgray;
  }

  &.disabled {
    color: $lightergray;
    &:hover {
      cursor: not-allowed;
    }
  }

  &.active {
    color: black;
    text-decoration: none;
    cursor: default;
  }
}

.btn {

  border: transparent solid 1px;
  color: white;
  background-color: $gray;
  display: inline-block;
  padding: 5px 5px;
  margin: 10px;
  font-weight: bold;
  font-family: $typo;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;

  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: $gray;
    border: $gray solid 1px;
  }

}

.btnOrange {
  background-color: $orange;
}

.btnOrange:hover {
  color: $orange;
  border: $orange solid 1px;
}

.btnRed {
  background-color: $red;
}

.btnRed:hover {
  color: $red;
  border: $red solid 1px;
}

.btnGreen {
  background-color: $green;
}

.btnGreen:hover {
  color: $green;
  border: $green solid 1px;
}

.btnBlue {
  background-color: $blue;
}

.btnBlue:hover {
  color: $blue;
  border: $blue solid 1px;
}

.btnGreen:active,
.btnBlue:active,
.btnOrange:active,
.btn:active,
.btnRed:active {
  -webkit-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
}

.btnSmall {
  font-weight: normal;
  font-size: $btnSmallFontSize;
  padding: 2px 5px;
}

.btnLarge {
  font-weight: bolder;
  font-size: $btnLargeFontSize;
  padding: 10px 15px;
}

.btnFlat {
  font-weight: lighter;
  font-size: $btnFlatFontSize;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btnFlat:active {
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btnXtra {
  padding: 1rem;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.btnFancy {
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 2px 2px 1px 0px #656565;
  -webkit-box-shadow: 2px 2px 1px 0px #656565;
  -o-box-shadow: 2px 2px 1px 0px #656565;
  box-shadow: 2px 2px 1px 0px #656565;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}

#boutons div {
  text-align: center;
}

hr {
  border: 0;
  width: 90%;
  color: $blue;
  background-color: $blue;
  height: 2px;

  &:nth-of-type(even) {
    width: 80%;
    color: $lightgray;
    background-color: $lightgray;

    margin-bottom: 2rem;
  }

}

button {
  display: inline-block;
}

