{% for annonce in annonces %}

    <a href="detailsAnnonce{{ annonce.id }}">
    <h5>{{ annonce.titre}}</a><small> ({{ annonce.created_at|date('d/m/Y') }} à {{ annonce.created_at|date('H:i') }})</small></h5>
    <p>{{ annonce.texte }}</p>
    <ul class="ulsquare">
        <li>{{ annonce.prix_bien }}€</li>
        <li>{{ annonce.superficie }}m2</li>
        <li>{{ annonce.quartier.ville.nom_ville }} ({{ annonce.quartier.nom_quartier }})</li>
        <li>{{ annonce.transaction.type }} ({{ annonce.bien.type }}) </li>
        <li>{{ annonce.bien.type }} </li>
        <hr>
    </ul>

{% endfor %}

