<h3>Détails d'une annonce :</h3>
<br>
<h5>{{ annonce.titre }}</h5>
{{ annonce.texte }}
<ul>
    <li>{{ annonce.prix_bien }}€</li>
    <li>{{ annonce.superficie }}m2</li>
    <li>{{ annonce.nb_piece }} pieces</li>
    <li>ajoutée le {{ annonce.created_at|date('d/m/Y') }} à {{ annonce.created_at|date('H:i') }} </li>
    <li>{{ annonce.quartier.ville.nom_ville }} ({{ annonce.quartier.nom_quartier }})</li>
    <li>Mis en vente par : {{ annonce.nom_vendeur }}</li>
    <li>Type de transaction : {{ annonce.transaction.type }} </li>
    <li>Type de bien : {{ annonce.bien.type }} </li>
    <br>
    {% if photos == NULL %}
        Aucune photographie associée cette annonce
    {% else %}
        <li>PHOTOS :</li>
        {% for photo in photos %}
            {#<img content-type="image/png" src="{{ photo.contenu }}" alt="image annonce" datatype="text">#}
            {#{{ photo.contenu }}#}
            <img content="{{ photo.contenu }}" alt="image annonce">
        {% endfor %}
    {% endif %}
    <hr>
</ul>

{{ id }}


<form id="supprimerAnnonce" method="get" action="supprimerAnnonce{{ annonce.id }}">
    <button class="btn btnRed" type="submit" value="suppr_annonce">Supprimer</button>
</form>
<form id="contacterVendeur" method="get" action="contactVendeur{{ annonce.id }}">
    <button class="btn btnBlue" type="submit" value="suppr_annonce">Contacter le vendeur</button>
</form>
