<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LebonAppart</title>
    <meta name="description" content="Lebonappart">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/css/style.css">
</head>
<body>
<header>
    <div>
        <a href="accueil"><img src="images/logo.png"></a>
        <a href="accueil"><h1>LeBonAppart</h1></a>
    </div>
    <nav>
            <a href="saisirAnnonce">Ajouter une annonce</a>
            <a href="gestionAnnonce">Retrouver & gérer ses annonces</a>
    </nav>
</header>