<form id="gererAnnonce" method="get" action="gererAnnonces">
    <h3>Trouver vos annonces : </h3>

    <label>Votre email :</label>
    <input type="email" name="mail_annonce" required>

    <button type="submit" class="btn btnGreen" value="valid_gestion">Valider</button>
</form>