<form id="recherche" class="cadreForm" method="get" action="resultatRecherche">

    <h3>Recherche d'annonce : </h3>

    <div id="taillerecherche">

        <div class="ligne">

            {#Recherche pas mots clés#}
            <div id="label"><label class="label">Mots-clés </label></div>
            <input type="text" id="input_motscles" name="keyword">

            {#Recherche dans le titre#}
            <input type="checkbox" name="title_only">
            <label>Rechercher dans le titre uniquement</label>
        </div>

        <div class="ligne">

            {#Recherche par fourchette de prix#}
            <div class="trait">
                <div id="label"><label>Prix entre </label></div>
                <input class="inputEuroM2NbPiece" type="number" name="priceIn" placeholder="€">
                <label>et </label>
                <input class="inputEuroM2NbPiece" type="number" name="priceOut" placeholder="€">
            </div>
            <div class="trait">
                {#Recherche par ville#}
                <select name="ville">
                    <option value="0" disabled selected>Ville</option>
                    {% for ville in villes %}
                        <option value="{{ ville.id }}">{{ ville.nom_ville }}</option>
                    {% endfor %}
                </select>
            </div>
            {#Recherche par type de bien#}
            <select name="typeBien">
                <option value="0" disabled selected>Type de bien</option>
                {% for typeBien in typeBiens %}
                    <option value="{{ typeBien.id }}">{{ typeBien.type }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="ligne">
            <div class="trait">
                {#Recherche par superficie#}

                <div id="label"><label class="label">Superficie </label></div>
                <input class="inputEuroM2NbPiece" type="number" name="superficie" placeholder="m²">
                <label>+/-</label>
                <input class="inputEuroM2NbPiece" type="number" name="superficieMarge" value="0">
            </div>
            <div class="trait">
                {#Recherche par nombre de pièce#}
                <label>Nombre de pièce(s)</label>
                <input class="inputEuroM2NbPiece" type="number" name="nbpieces">
                <label>+/-</label>
                <input class="inputEuroM2NbPiece" type="number" name="nbPiecesMarge" value="0">
            </div>
            {#Recherche par type de transaction#}
            <fieldset class="radioButton">
                {% for typeTransaction in typeTransactions %}
                    <input type="radio" name="id_type_transaction"
                           value="{{ typeTransaction.id }}"
                    >{{ typeTransaction.type }}
                {% endfor %}
            </fieldset>


            <button class="btn btnBlue" type="submit" value="valid_rechercher">rechercher</button>
        </div>
    </div>
</form>

