<form id="suppr" method="post" action="suppressionAnnonce{{ id }}">
    <h3>Supprimer une annonce : </h3>

    <label>Votre mot de passe :</label>
    <input type="password" name="mdp_vendeur" required>

    <button class="btn btnGreen" type="submit" value="suppr_gestion">Valider</button>
</form>