<form id="insertAnnonce" class="cadreForm" method="post" action="insererAnnonce">
    <h3>Ajouter une annonce : </h3>

    <div id="ligne1">
        <label>Nom du vendeur :</label>
        <input type="text" name="nom_vendeur" required>

        <label>N° de téléphone : </label>
        <input type="number" name="tel_vendeur" required>

        <label>E-Mail : </label>
        <input type="email" name="mail_vendeur" required>
    </div>
    <div id="ligne2">
        <label>Mot de passe (min 5 caractères) :</label>
        <input type="password" name="mdp_annonce" required>

        <label>Confirmation du mot de passe :</label>
        <input type="password" name="mdp_annonce_2" required>
    </div>

    <div id="ligne3">
        <label>Titre :</label>
        <input type="text" name="titre" required>
        <br>
        <label>Texte de l'annonce :</label>
        <textarea name="texte" required></textarea>
    </div>

    <div id="ligne4">
        <label>Prix (facultatif) :</label>
        <input type="number" name="prix">

        <label>Superficie</label>
        <input type="number" name="superficie" required>

        <label>Nombre de pièces</label>
        <input type="number" name="nb_piece" required>
    </div>

    <div id="ligne5">
        <select name="id_quartier">
            <option value="0" disabled selected>Ville - Quartier</option>
            {% for quartier in quartiers %}
                <option value="{{ quartier.id }}">{{ quartier.nom_quartier }}</option>
            {% endfor %}
            required
        </select>

        {#<select name="ville">#}
        {#<option value="0" disabled selected>Ville</option>#}
        {#{% for ville in villes %}#}
        {#<option value="{{ ville.id }}">{{ ville.nom_ville }}</option>#}
        {#{% endfor %}#}
        {#required#}
        {#</select>#}

        <select name="id_type_bien">
            <option value="0" disabled selected>Type de bien</option>
            {% for typeBien in typeBiens %}
                <option value="{{ typeBien.id }}">{{ typeBien.type }}</option>
            {% endfor %}
            required
        </select>
    </div>

    <fieldset class="radioButton">
        {% for typeTransaction in typeTransactions %}
            <input type="radio" name="id_type_transaction" value="{{ typeTransaction.id }}">{{ typeTransaction.type }}
        {% endfor %}
    </fieldset>


    <button class="btn btnGreen" type="submit" value="valid_insert">Valider</button>
</form>
