/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
/* line 5, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 8, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 9, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 10, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 11, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 12, ../scss/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 13, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 38, ../scss/style.scss */
header {
  margin-bottom: 5px;
  color: white;
  background-color: #4ea6ca;
  font-variant: small-caps;
  font-size: 1em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;
}
/* line 49, ../scss/style.scss */
header div {
  width: 100%;
  text-align: center;
}
/* line 53, ../scss/style.scss */
header img {
  height: 50px;
  width: auto;
}
/* line 58, ../scss/style.scss */
header a {
  text-decoration: none;
  color: white;
}
/* line 62, ../scss/style.scss */
header a:hover {
  text-decoration: none;
  color: #333333;
}
/* line 68, ../scss/style.scss */
header nav a {
  margin-right: 20px;
}

/* line 74, ../scss/style.scss */
.jumbotron {
  background-color: #ccc;
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
  padding: 2%;
  text-align: center;
  border-bottom: 3px #666666 solid;
}
/* line 83, ../scss/style.scss */
.jumbotron p {
  text-align: center;
  padding-top: 1em;
  padding-left: 3%;
  padding-right: 3%;
}

/* line 93, ../scss/style.scss */
.pagination {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}
/* line 97, ../scss/style.scss */
.pagination li {
  margin: 0 0.2rem 0 0;
  display: inline;
}

/*
GENERAL
*/
/* line 107, ../scss/style.scss */
html {
  height: 100%;
}

/* line 111, ../scss/style.scss */
body {
  font-family: "Helvetica", "Arial", sans-serif;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
  max-width: 1280px;
  margin: auto;
  line-height: 1.2;
}

/* line 121, ../scss/style.scss */
p {
  margin-bottom: 1rem;
}

/* line 125, ../scss/style.scss */
form {
  display: inline-block;
}

/* line 129, ../scss/style.scss */
.cadreForm {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border: 2px solid #4ea6ca;
  box-sizing: border-box;
}
/* line 136, ../scss/style.scss */
.cadreForm h1, .cadreForm h2, .cadreForm h3, .cadreForm h4, .cadreForm h5 {
  color: white;
  background-color: #4ea6ca;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

/* line 146, ../scss/style.scss */
#taillerecherche {
  width: 1100px;
  margin: auto;
}

/* line 171, ../scss/style.scss */
#recherche .ligne input {
  text-align: center;
}
/* line 175, ../scss/style.scss */
#recherche .ligne #label {
  display: inline-block;
  width: 105px;
}
/* line 179, ../scss/style.scss */
#recherche .ligne label {
  padding: 0 5px 0 5px;
}
/* line 182, ../scss/style.scss */
#recherche .ligne #input_motscles {
  width: 690px;
}
/* line 185, ../scss/style.scss */
#recherche .ligne .trait {
  display: inline;
  border-right: 2px solid black;
  padding-right: 10px;
  margin-right: 10px;
}
/* line 191, ../scss/style.scss */
#recherche .ligne .inputEuroM2NbPiece {
  width: 60px;
}
/* line 195, ../scss/style.scss */
#recherche .ligne select {
  width: 200px;
}
/* line 199, ../scss/style.scss */
#recherche .ligne .radioButton {
  display: inline-block;
}
/* line 205, ../scss/style.scss */
#recherche button {
  width: 200px;
  margin: 0 0 0 100px;
}

@media screen and (min-width: 801px) {
  /* line 214, ../scss/style.scss */
  #ligne1 label {
    width: 21.9%;
  }
  /* line 217, ../scss/style.scss */
  #ligne1 input {
    width: 21.8%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 222, ../scss/style.scss */
  #ligne1 label {
    width: 21.9%;
  }
  /* line 225, ../scss/style.scss */
  #ligne1 input {
    width: 24.1%;
  }
}

@media screen and (min-width: 801px) {
  /* line 233, ../scss/style.scss */
  #ligne2 label {
    width: 22%;
  }
  /* line 236, ../scss/style.scss */
  #ligne2 input {
    width: 25.6%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 241, ../scss/style.scss */
  #ligne2 label {
    width: 25%;
  }
  /* line 244, ../scss/style.scss */
  #ligne2 input {
    width: 30.5%;
  }
}

/* line 251, ../scss/style.scss */
#ligne3 input {
  width: 95.6%;
}
/* line 255, ../scss/style.scss */
#ligne3 label {
  vertical-align: top;
}
/* line 258, ../scss/style.scss */
#ligne3 textarea {
  width: 99%;
  min-height: 200px;
}

@media screen and (min-width: 801px) {
  /* line 266, ../scss/style.scss */
  #ligne4 label {
    width: 20%;
  }
  /* line 269, ../scss/style.scss */
  #ligne4 input {
    width: 21.5%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 274, ../scss/style.scss */
  #ligne4 label {
    width: 25%;
  }
  /* line 277, ../scss/style.scss */
  #ligne4 input {
    width: 23.9%;
  }
}

@media screen and (min-width: 801px) {
  /* line 285, ../scss/style.scss */
  .ligne5 select {
    width: 49.7%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 290, ../scss/style.scss */
  .ligne5 select {
    width: 49.8%;
  }
}

@media screen and (min-width: 801px) {
  /* line 298, ../scss/style.scss */
  #ligne6 label {
    width: 24%;
  }
  /* line 301, ../scss/style.scss */
  #ligne6 input {
    width: 37.7%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 306, ../scss/style.scss */
  #ligne6 label {
    width: 25%;
  }
  /* line 309, ../scss/style.scss */
  #ligne6 input {
    width: 40.2%;
  }
}

/* line 316, ../scss/style.scss */
#ligne7 label {
  width: 10%;
}
/* line 319, ../scss/style.scss */
#ligne7 input {
  display: inline-block;
  width: 35.3%;
}
@media screen and (min-width: 801px) {
  /* line 324, ../scss/style.scss */
  #ligne7 label {
    width: 24%;
  }
  /* line 327, ../scss/style.scss */
  #ligne7 input {
    width: 44.2%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 332, ../scss/style.scss */
  #ligne7 label {
    width: 25%;
  }
  /* line 335, ../scss/style.scss */
  #ligne7 input {
    width: 45.4%;
  }
}

/* line 342, ../scss/style.scss */
#ligne8 label {
  width: 10%;
}
/* line 345, ../scss/style.scss */
#ligne8 input {
  width: 98.4%;
}
/* line 348, ../scss/style.scss */
#ligne8 input:last-of-type {
  display: inline-block;
  width: 3%;
}
@media screen and (min-width: 801px) {
  /* line 353, ../scss/style.scss */
  #ligne8 label {
    width: 24%;
  }
  /* line 356, ../scss/style.scss */
  #ligne8 input:first-of-type {
    width: 62.9%;
  }
  /* line 359, ../scss/style.scss */
  #ligne8 input:last-of-type {
    width: 1.9%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 364, ../scss/style.scss */
  #ligne8 label {
    width: 25%;
  }
  /* line 367, ../scss/style.scss */
  #ligne8 input:first-of-type {
    width: 70.1%;
  }
  /* line 370, ../scss/style.scss */
  #ligne8 input:last-of-type {
    width: 1.9%;
  }
}

/*
LES TITRES
*/
/* line 381, ../scss/style.scss */
h1 {
  font-size: 1.7rem;
}
/* line 383, ../scss/style.scss */
h1.sub {
  font-size: 1.36rem;
}

/* line 388, ../scss/style.scss */
h2 {
  font-size: 1.5rem;
}
/* line 390, ../scss/style.scss */
h2.sub {
  font-size: 1.2rem;
}

/* line 395, ../scss/style.scss */
h3 {
  font-size: 1.3rem;
}
/* line 397, ../scss/style.scss */
h3.sub {
  font-size: 1.04rem;
}

/* line 402, ../scss/style.scss */
h4 {
  font-size: 1.1rem;
}
/* line 404, ../scss/style.scss */
h4.sub {
  font-size: 0.88rem;
}

/* line 409, ../scss/style.scss */
h5 {
  font-size: 1rem;
}
/* line 411, ../scss/style.scss */
h5.sub {
  font-size: 0.8rem;
}

/* line 416, ../scss/style.scss */
h6 {
  font-size: 0.9rem;
}
/* line 418, ../scss/style.scss */
h6.sub {
  font-size: 0.72rem;
}

/* line 423, ../scss/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
/* line 431, ../scss/style.scss */
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  color: #333333;
  font-size: 0.8em;
  font-weight: lighter;
}
/* line 437, ../scss/style.scss */
h1.sub,
h2.sub,
h3.sub,
h4.sub,
h5.sub,
h6.sub {
  color: #333333;
  font-weight: normal;
}

/*
INLINE
*/
/* line 447, ../scss/style.scss */
strong {
  font-weight: bold;
}

/* line 451, ../scss/style.scss */
u {
  text-decoration: none;
  border-bottom: 1px red dotted;
}

/* line 456, ../scss/style.scss */
em {
  font-style: italic;
}

/*
QUOTE & BLOCKQUOTE
*/
/* line 464, ../scss/style.scss */
blockquote {
  background: #f9f9f9;
  font-family: cursive;
  border-left: 10px solid #ccc;
  margin: 10px 10px 30px;
  padding: 10px;
  max-width: 80%;
}
/* line 472, ../scss/style.scss */
blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
/* line 481, ../scss/style.scss */
blockquote:after {
  color: #ccc;
  content: "\201D";
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.7em;
}
/* line 490, ../scss/style.scss */
blockquote p {
  display: inline;
}

/* line 495, ../scss/style.scss */
code {
  border-left: 10px solid #666666;
  display: block;
  font-family: monospace;
  color: #f9f9f9;
  background-color: black;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 90%;
  font-size: 0.8rem;
}
@media screen and (min-width: 801px) {
  /* line 495, ../scss/style.scss */
  code {
    max-width: 800px;
    font-size: 1rem;
  }
}
/* line 514, ../scss/style.scss */
code p {
  line-height: 0.2em;
}

/* line 519, ../scss/style.scss */
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 10px 10px 20px;
}

/* line 526, ../scss/style.scss */
kbd {
  border-left: 10px solid #ccc;
  display: block;
  font-family: monospace;
  background-color: #f9f9f9;
  margin: 10px 10px 20px;
  padding: 10px;
  max-width: 80%;
}
/* line 535, ../scss/style.scss */
kbd p {
  line-height: 0.2em;
}

/*
LES LISTES
*/
/* line 544, ../scss/style.scss */
li {
  list-style-type: disc;
  margin-left: 2em;
}

/* line 550, ../scss/style.scss */
.ulsquare li {
  list-style-type: square;
}

/* line 554, ../scss/style.scss */
.ulnostyle li {
  list-style-type: none;
}

/*
Alignements et transformations
*/
/* line 562, ../scss/style.scss */
.alleft {
  text-align: left;
}

/* line 566, ../scss/style.scss */
.alright {
  text-align: right;
}

/* line 570, ../scss/style.scss */
.alcenter {
  text-align: center;
}

/* line 574, ../scss/style.scss */
.aljustified {
  text-align: justify;
}

/* line 578, ../scss/style.scss */
.smallcaps {
  font-variant: small-caps;
}

/* line 582, ../scss/style.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 586, ../scss/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 590, ../scss/style.scss */
.capitalize {
  text-transform: capitalize;
}

/*
TABLES ET TABLEAUX
*/
/* line 598, ../scss/style.scss */
table {
  width: 100%;
  margin: 1em auto 2em;
  text-align: center;
  display: table;
  max-width: 400px;
}
/* line 605, ../scss/style.scss */
table th {
  font-variant: small-caps;
}

/* line 610, ../scss/style.scss */
table,
th,
td {
  padding: 0.5em 1em 0.5em 1em;
}

/*Tableau bordures*/
/* line 618, ../scss/style.scss */
.tableborder,
.tableborder th,
.tableborder td {
  border: 1px solid #666666;
}

/*Tableau ligne alternees*/
/* line 626, ../scss/style.scss */
.tablealterne tr:nth-child(even) {
  background-color: white;
  /*blanc*/
}

/* line 631, ../scss/style.scss */
.tablealterne tr:nth-child(odd) {
  background-color: #ccc;
  /*gris*/
}

/* line 636, ../scss/style.scss */
.tablealterne th {
  background-color: #666666;
  color: white;
}

/*tableau avec survol*/
/* line 643, ../scss/style.scss */
.tablehover tr:not(th) {
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
}

/* line 648, ../scss/style.scss */
.tablehover tr:hover:not(th) {
  background-color: #666666;
  color: white;
}

/* line 653, ../scss/style.scss */
a {
  color: #4ea6ca;
}
/* line 659, ../scss/style.scss */
a:hover {
  color: #333333;
}
/* line 663, ../scss/style.scss */
a.disabled {
  color: #f9f9f9;
}
/* line 665, ../scss/style.scss */
a.disabled:hover {
  cursor: not-allowed;
}
/* line 670, ../scss/style.scss */
a.active {
  color: black;
  text-decoration: none;
  cursor: default;
}

/* line 677, ../scss/style.scss */
.btn {
  border: transparent solid 1px;
  color: white;
  background-color: #666666;
  display: inline-block;
  padding: 5px 5px;
  margin: 10px;
  font-weight: bold;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
/* line 698, ../scss/style.scss */
.btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #666666;
  border: #666666 solid 1px;
}

/* line 707, ../scss/style.scss */
.btnOrange {
  background-color: #EE8400;
}

/* line 711, ../scss/style.scss */
.btnOrange:hover {
  color: #EE8400;
  border: #EE8400 solid 1px;
}

/* line 716, ../scss/style.scss */
.btnRed {
  background-color: #CA3C3C;
}

/* line 720, ../scss/style.scss */
.btnRed:hover {
  color: #CA3C3C;
  border: #CA3C3C solid 1px;
}

/* line 725, ../scss/style.scss */
.btnGreen {
  background-color: #1CB841;
}

/* line 729, ../scss/style.scss */
.btnGreen:hover {
  color: #1CB841;
  border: #1CB841 solid 1px;
}

/* line 734, ../scss/style.scss */
.btnBlue {
  background-color: #4ea6ca;
}

/* line 738, ../scss/style.scss */
.btnBlue:hover {
  color: #4ea6ca;
  border: #4ea6ca solid 1px;
}

/* line 743, ../scss/style.scss */
.btnGreen:active,
.btnBlue:active,
.btnOrange:active,
.btn:active,
.btnRed:active {
  -webkit-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
}

/* line 753, ../scss/style.scss */
.btnSmall {
  font-weight: normal;
  font-size: 80%;
  padding: 2px 5px;
}

/* line 759, ../scss/style.scss */
.btnLarge {
  font-weight: bolder;
  font-size: 130%;
  padding: 10px 15px;
}

/* line 765, ../scss/style.scss */
.btnFlat {
  font-weight: lighter;
  font-size: 110%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 773, ../scss/style.scss */
.btnFlat:active {
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 780, ../scss/style.scss */
.btnXtra {
  padding: 1rem;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* line 787, ../scss/style.scss */
.btnFancy {
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 2px 2px 1px 0px #656565;
  -webkit-box-shadow: 2px 2px 1px 0px #656565;
  -o-box-shadow: 2px 2px 1px 0px #656565;
  box-shadow: 2px 2px 1px 0px #656565;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}

/* line 802, ../scss/style.scss */
#boutons div {
  text-align: center;
}

/* line 806, ../scss/style.scss */
hr {
  border: 0;
  width: 90%;
  color: #4ea6ca;
  background-color: #4ea6ca;
  height: 2px;
}
/* line 813, ../scss/style.scss */
hr:nth-of-type(even) {
  width: 80%;
  color: #ccc;
  background-color: #ccc;
  margin-bottom: 2rem;
}

/* line 823, ../scss/style.scss */
button {
  display: inline-block;
}
